#pre-start {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    gap: 20pt;

    display: none;
}

#loadingElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}
