#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    text-align: center;
}

h2 {
    text-align: center;
}

.charts {
    gap: 10pt;
    display: flex;
    width: 10vh;
    flex-direction: column;
    align-items: center;
}

#pre-start {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;

    display: none;
}

.pre-start-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 5vh;
}

@media (min-width: 600px) {
    .pre-start-container {
        flex-direction: row;
    }
}

#loadingElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weburl {
    font-size: 1em;
}

.poll-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.poll {
    display: flex;
    padding: 10pt;
    border-radius: var(--border-radius);
    flex-direction: column;
    width: fit-content;
    gap: 5pt;
}
